/* body {
  background-color: rgb(236, 243, 243);
  font-family: Gudea,Arial,sans-serif;
  font-size: 14px;
    margin: 50px;
    padding: 15px;
    border: 15px;
} */

h1 {
  font-weight: 100;
  font-size: 24px;
  font-family: sans-serif;
  text-indent: 30px;
  letter-spacing: 3px;
  word-spacing: 3px;
}

h3, h4 {
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 100;
}

.description {
  font-family: 'Barlow', sans-serif;
}
